@model List<Doanphanmem.Models.CTDATHANG>
@{
    ViewBag.Title = "DonHangChiTietKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Thông Tin Chi Tiết Đơn Hàng</h2>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SanPham.TenSP</td>
            <td>@item.Soluong</td>
            <td>
                @String.Format("{0:0,0}", (item.SanPham.GiaSp)) VNĐ
            </td>
            <td>
                @String.Format("{0:0,0}", (item.Soluong * item.SanPham.GiaSp)) VNĐ
            </td>
        </tr>
    }
    <tr>
        Tổng số lượng sản phẩm: @Model.Sum(b => b.Soluong)
    </tr>
    <tr>Tổng Tiền Đơn Hàng:@String.Format("{0:0,0}", Model.Sum(b => b.SanPham.GiaSp)) VNĐ</tr>
 


</table>

