@model List<Doanphanmem.Models.DONDATHANG>
@using Doanphanmem.Models
@{
    ViewBag.Title = "Danh sách ĐƠN HÀNG đã đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new QL_CHDTEntities();
}

<style>
    body {
       
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        margin-top:20px;
    }

    .order-card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        margin: 20px 0;
        padding: 20px;
        border-radius: 5px;
        position: relative;
    }

    .order-details {
        display: flex;
        flex-wrap: wrap;
    }

        .order-details > div {
            flex: 1;
            margin: 10px;
        }

        .order-details p {
            margin: 5px 0;
        }

    .confirm-button {
        position: absolute;
        top: 30px;
        right: 20px;
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 170px;
        height: 44px;
    }
    .wait-button {
        position: absolute;
        top: 30px;
        right: 20px;
        background-color: red;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 170px;
        height: 44px;
    }
    .paypal-button {
        position: absolute;
        top: 80px;
        right: 20px;
        background-color:cornflowerblue;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 170px;
        height: 44px;
    }

    .none-paypal-button {
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: navy;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 170px;
        height: 44px;
    }
    .payment_tm{
        color:blue;
    }
    .payment_pp{
        color:blueviolet;
    }
</style>

<div class="container">
    <h1 style="text-align: center; font-size: 30px; font-weight: bold;">Danh sách đơn hàng đã đặt</h1>

    @foreach (var order in Model)
    {
        <div class="order-card">
          
            @foreach (var detail in order.CTDATHANGs)
            {
                var cus = db.SanPhams.Where(s => s.MaSP == detail.MaSP).Select(s => s.TenSP).FirstOrDefault();

                <div class="order-details">
                    <div>
                        <p><strong>Tên:</strong> @cus</p>
                        <p>
                            <strong>HTGH:</strong>
                          @if (order.HTGiaohang == false)
                          {
                                <span>Giao Hàng Trực Tiếp</span>
                            }
                            else
                            {
                                <span>Giao Hàng Trực Tiếp</span>
                            }
                        </p>
                        <p>
                            <strong>HTTT:</strong> @if (order.HTThanhtoan == true)
                            {
                                <span class="payment_tm">Thanh Toán Bằng Tiền Mặt</span>
                                <button class="none-paypal-button">Chưa Thanh Toán</button>
                            }
                            else
                            {
                                <span class="payment_pp">Thanh Toán Bằng PayPal</span>
                                <button class="paypal-button">Đã Thanh Toán</button>

                            }
                        </p>
                    </div>
                    <div>
                        <p>
                            <strong>TTDH:</strong> @if (order.Dagiao == false)
                            {
                                <span>Đơn Hàng Đang Chờ Duyệt</span>
                                <button class="wait-button">Chưa xác nhận</button>
                            }
                            else
                            {
                                <button class="confirm-button">Đã xác nhận</button>
                                <span>Đơn Hàng Đang Giao Đến Bạn</span>
                            }
                        </p>
                        <p><strong>Date Order:</strong> @order.NgayDH</p>
                        <p><strong>Address Delivery:</strong> @order.Diachinhan</p>
                    </div>
                    <div>
                        <p><strong>Số lượng:</strong> @detail.Soluong</p>
                        <p><strong>Đơn giá:</strong> @detail.Dongia VNĐ</p>
                    </div>
                </div>
            }
        </div>
    }
</div>
