@model IEnumerable<Doanphanmem.Models.SanPham>
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper START -->
<div class="page-header">
    <h2 class="header-title">Quản lý sản phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/SanPhams/TrangChuAdmin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Dashboard</a>
            <span class="breadcrumb-item active">Quản lý sản phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-12 text-right">
                <a href="/SanPhams/Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add Product</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Màu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                #@item.MaSP
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@item.TenSP</h6>
                                </div>
                            </td>
                            <td>@item.PhanLoai.Tenloai</td>
                            <td>@item.GiaSp.Value.ToString("#,##") đ</td>
                            <td>@item.Soluongton</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div>@item.Mau.Tenmau</div>
                                </div>
                            </td>
                            <td class="text-right">
                                <a href="/SanPhams/Edit/@item.MaSP" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                    <i class="anticon anticon-edit"></i>
                                </a>
                                <a href="/SanPhams/Delete/@item.MaSP" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Content Wrapper END -->
