@model IEnumerable<Doanphanmem.Models.SanPham>
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Admin/Layout/_LayoutPage1.cshtml";
}

<style>
    html,
    body,
    .intro {
        height: 100%;
    }

    table td,
    table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .card {
        border-radius: .5rem;
    }

    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(25px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <section class="intro">
        <div class="bg-image h-100" style="background-color: #6095F0;">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                                        </div>
                                                    </th>
                                                    <th scope="col"> @Html.DisplayNameFor(model => model.TenSP)</th>
                                                    <th scope="col">@Html.DisplayNameFor(model => model.GiaSp)</th>
                                                    <th scope="col"> @Html.DisplayNameFor(model => model.Hinh1)</th>
                                                    <th scope="col"> @Html.DisplayNameFor(model => model.Soluongton)</th>
                                                    <th scope="col"> @Html.DisplayNameFor(model => model.Mau.Tenmau)</th>
                                                    <th scope="col"> @Html.DisplayNameFor(model => model.PhanLoai.Tenloai)</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked />
                                                            </div>
                                                        </th>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TenSP)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.GiaSp)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Hinh1)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Soluongton)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Mau.Tenmau)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PhanLoai.Tenloai)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
                                                            @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-sm px-3">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </td>

                                                    </tr>
                                                }



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

