@*@model IEnumerable<Doanphanmem.Models.DONDATHANG>*@
@using Doanphanmem.Models
@using PagedList.Mvc
@model PagedList.PagedList<DONDATHANG>
 @{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
     int i = 1;

}

<style>
    h5 {
        font-size: 17px;
    }

    th {
        width: 140px;
    }

    th {
        text-align: center;
    }
</style>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="text" name="SearchString" placeholder="Search" aria-label="Nhập từ khoá ">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<h2 style="text-align:center">Danh Sách Đơn Đặt Hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>

            <p>Ngày đặt hàng</p>
        </th>
        <th>

            <p>Hình thức thanh toán</p>
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.HTThanhtoan)
            </th>*@
        <th>
            <p>Trạng thái</p>
        </th>
        @*<th>
                <p>Giao hàng</p>
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Diachinhan)*@
            <p>Địa chỉ nhận hàng</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Trigia)*@
            <p>Thành tiền</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Dienthoainhan)*@
            <p>Số điện thoại </p>
        </th>


        <th><p>Tên Khách Hàng</p></th>
        @*<th>Xác Nhận Đơn Hàng</th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDH)
            </td>

            <td>
                @{ if (@item.HTThanhtoan == false)
                    {
                        @*@item.Dagiao= true;*@
                        item.Dagiao = true;
                        <div style="color:red">Thanh toán chuyển khoản</div> }
                    else if (@item.HTThanhtoan == true)
                    {
                        <div style="color:brown">Thanh toán tiền mặt</div> }
                }
            </td>

            <td>

                @{ if (@item.Dagiao == true)
                    {
                     
                        <h5 style="color:green">Đã xác nhận  </h5>
                    }
                    else if (@item.Dagiao == false)
                    {
                        <p>
                            <button> @Html.ActionLink("Xác nhận đơn hàng", "Xacnhan", new { id = item.SODH }) </button>
                        </p>
                    }
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Diachinhan)
            </td>
            <td>
                <p> @string.Format("{0:#,##0} VND", item.Trigia * 10)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoainhan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SODH }) |
                @Html.ActionLink("DonHangChiTiet", "DonHangChiTiet", new { id = item.SODH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SODH })
            </td>
        </tr>
    }

</table>

 <br />
<div style="text-align:center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }

    td, th {
        text-align: center;
    }
</style>
<!-- Kết thúc -->
