@model IEnumerable<Doanphanmem.Models.DONDATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Admin/Layout/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dagiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTThanhtoan)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Diachinhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trigia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoainhan)
        </th>

   
        <th>Tên Khách Hàng</th>
        <th>Xác Nhận Đơn Hàng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDH)
        </td>
        <td>
            @{ if (@item.Dagiao == true)
                {
                    <h5 style="color:green">Đã xác nhận  </h5>


                }
                else if (@item.Dagiao == false)
                {
                    <h5 style="color:red">Đang chờ xác nhận. </h5>
                }
            }
        </td>
        <td>
            @{ if (@item.HTThanhtoan == false)
                {
                    <div style="color:red">Thanh toán chuyển khoản</div> }
                else if (@item.HTThanhtoan == true)
                {
                    <div style="color:brown">Thanh toán tiền mặt</div> }
                }
        </td>

 
        <td>
            @Html.DisplayFor(modelItem => item.Diachinhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trigia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoainhan)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>

            @{ if (@item.Dagiao == true)
                {
                    <p>
                        <button> @Html.ActionLink("Hủy Đơn Hàng", "Xacnhan", new { id = item.SODH }) </button>
                    </p>
                }
                else if (@item.Dagiao == false)
                {
                    <p>
                        <button> @Html.ActionLink("Xác nhận đơn hàng", "Xacnhan", new { id = item.SODH }) </button>
                    </p>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SODH }) |
            @Html.ActionLink("DonHangChiTiet", "DonHangChiTiet", new { id = item.SODH }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SODH })
        </td>
    </tr>
}

</table>
