@model IEnumerable<Doanphanmem.Models.Vourcher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uudai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinUuDai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Uudai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinUuDai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKM }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKM })
        </td>
    </tr>
}

</table>
